!!! 5
html
  head
    title Game of Life   --   By Labi Kyo
    meta(charset="utf-8")
    meta(name="viewport",content="width=1024")
    meta(name="author",content="Labi Kyo<mailto:labikyo@gmail.com>")
    link(href="css/main.css",rel="stylesheet")
  body
    script(src="js/jquery-1.7.1.min.js")
    script(src="js/underscore-min.js")
    script(src="js/main.js")
